@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --darkblue: #101724;
  --lightblue: #1d253c;

  --accentBlue: #303e58;
  --gradientBlue: #1fd2ff;
  --gradientPink: #ab62ff;
  --grey: #7a7a7a;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #101724;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  border: none;
  outline: none;
}

.gradientText {
  background: -webkit-linear-gradient(
    0deg,
    var(--gradientPink) 0%,
    var(--gradientBlue) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 120%;
  display: inline-block;
}

.remainingScreenHeight {
  height: calc(100vh - 80px);
}

.noScrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.breakWord {
  overflow-wrap: anywhere;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c243b;
  border-radius: 8px;
  border: 1px none #ffffff;
}
